@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*              Sass Template           */
/*  global classes  */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* typography classes */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

/* Color Template  */
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-second {
  color: #00A5C4;
}

.color-second-bg {
  background: #00A5C4;
}

.color-yellow {
  color: #FFD289;
}

.color-yellow-bg {
  background: #FFD289;
}

/*  top sale template   */
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/* SP readme */

/*  sp readme  */
#sp-readme .owl-carousel .item .product a {
  overflow: hidden;
}
#sp-readme  .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#sp-readme  .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#sp-readme .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#sp-readme  .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#sp-readme  .owl-carousel .owl-nav button.owl-prev span,
#sp-readme  .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#sp-readme  .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#sp-readme .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#sp-readme  .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/* sp iphone */
#sp-iphone .owl-carousel .item .product a {
  overflow: hidden;
}
#sp-iphone .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#sp-iphone  .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#sp-iphone .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#sp-iphone  .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#sp-iphone  .owl-carousel .owl-nav button.owl-prev span,
#sp-iphone .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#sp-iphone  .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#sp-iphone .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#sp-iphone .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}




/*   Special Price Section Template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */

/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  padding: 10px;
  border-radius: 0 0 5px orangered;
  background-color: #00A5C4;
  font-family: 'Courier New', Courier, monospace;

}

.dropdown-content  a {
  line-height: 30px;
  border-bottom: 1px dotted orangered;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

